body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    margin: 0;
  }
  
  .container {
    display: flex;
    width: 800px;
    background: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .left, .right {
    width: 50%;
    padding: 40px;
    background: #e9e9e9;
  }
  
  .left h2 {
    color: #222;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .left p {
    font-size: 20px;
    color: #222;
  }
  
  .stl {
    color: black;
  }
  
  .club {
    color: #8B0000;
  }
  
  .right form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
  }
  
  .social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
  }

  .divider {
    width: 5px;
    background-color: white;
  }
  
  
  .social-login button {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    transition: background 0.2s ease;
  }
  
  .google-btn:hover {
    background: #f8f8f8;
  }
  
  .apple-btn:hover {
    background: #f0f0f0;
  }
  
  .right button[type="submit"] {
    width: 150px;
    padding: 12px 0;
    background-color: #6ca933;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .right button[type="submit"]:hover {
    background-color: #5b922c;
  }
  